global
    user haproxy
    group haproxy

defaults
    mode http
    log global
    retries 2
    timeout connect 3000ms
    timeout server 60000ms
    timeout client 60000ms

listen stats
    bind :6080
    stats enable
    stats uri /stats
    stats refresh 10s

listen kubernetes
    bind :6444
    mode tcp
    option tcplog
    option tcp-check
    balance roundrobin
{% for host in groups['init'] %}
    server {{ hostvars[host]['ansible_host'] | default(host) }} {{ hostvars[host]['ansible_host'] | default(host) }}:6443 check fall 3 rise 2
{% endfor %}
{% for host in groups['controlplane'] %}
    server {{ hostvars[host]['ansible_host'] | default(host) }} {{ hostvars[host]['ansible_host'] | default(host) }}:6443 check fall 3 rise 2
{% endfor %}
